<template>
  <v-app id="app">
    <v-btn>Vuetifyのボタン</v-btn>
    <div>
      <p>{{ message }}</p>
    </div>
    <div id='container'>
      <div id='itemA'>aaa</div>
      <div id='itemB'>bbb</div>
      <div id='itemC'>ccc</div>
      <v-date-picker v-model="picker" color=orange></v-date-picker>
    </div>
  </v-app>
</template>

<script>
export default {
  data: function () {
    return {
      message: "Hello Vue!"
    }
  }
}
</script>

<style scoped>
#container{
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}
#itemA{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
p {
  font-size: 2em;
  text-align: center;
}
</style>
